.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .card {
    flex-basis: calc(20% - 10px);
    margin: 5px;
  }

  .contain{
    position: fixed;
    top: 10px;
    left: 10px;
    width: 200px;
    z-index: 1;
  }