.login{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; 
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 200px; /* altura mínima para los elementos del formulario */
  flex-wrap: wrap; /* permitir que los elementos del formulario se envuelvan en varias filas */
}

label {
  margin-bottom: 1em; /* agregar espacio adicional en la parte inferior de las etiquetas */
}

