.divCards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  background-color: #2af70100;
  padding: 2em;
  border-radius: 15px;
  box-shadow: 8px 5px 5px 0px rgba(0, 0, 0, 0.75);
  flex-basis: calc(20% - 1em);
}

@media (max-width: 768px) {
 .divCards{
    flex-direction: column;
    align-items: center;
 }
}

.close {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

